body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(192, 100%, 9%);

}

.hero {
    background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    padding: 15px;
    margin: 20px;
    width: 100%;
    max-width: 1440px;
}

.column {
    float: left;
}

#col-1 {
width: 45%;
}

.col-66 {
    width: 66%;
}

.col-33 {
    width: 33%;
}

#col-2 {
    width: 55%;

}

.col-40 {
    width: 40%;
    padding-left: 5px;
    padding-right: 25px;
}

.col-20 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.illustration-text {
padding-right: 25px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
  }

button {
      border-radius: 10pt;
      padding: 5px 20px 5px 20px;
      font-family: 'Open Sans', sans-serif;
  }

  .getting-started {
      background: hsl(322, 100%, 66%);
      color: white;
  }

  #try-it-free {
    background: white;
    float: right;
    
  }

  h2 {
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      line-height: 1.25;
  }

  h3 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: hsl(192, 100%, 9%)
  }

  .illustration-info {
      width: 80%;
        margin: auto;
  }

  .outline {
    border: 1px solid hsl(193, 100%, 96%);
    padding: 35px;
    margin-bottom: 15px;
    border-radius: 10pt;

  }

  p {
      color: hsl(208, 11%, 55%);
  }

  #hero-text {
      color: hsl(192, 100%, 9%);
  }

  .call-to-action {
      width: 50%;
      margin: auto;
      text-align: center;
      background-color: white;
      border: 1px solid hsl(193, 100%, 96%);
      padding: 20px;
      position: absolute;
      z-index: 2;
      left: 25%;
      border-radius: 10pt;

  }

  footer {
      background:hsl(192, 100%, 9%);
      padding: 70px 45px 10px 45px;
      font-size: 14px;
      width: 100%;  
      margin-top: 170px;
  }

  footer a {
      color: white;
      text-decoration: none;
  }

  .footer-text {
       color: white;
  }

  .attribution {
      float: right;
  }

